---
layout: page
title: Categories
header: Posts By Category
group: navigation
---
{% include JB/setup %}

<ul class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul>


{% for category in site.categories %} 
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
    {% assign pages_list = category[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}


{% for category in site.categories %} 
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
    {% assign pages_list = category[1] %}  
    {% for post in pages_list %}

    <!-- here add you post markup -->
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="author">
      <span class="date">{{post.date}}</span>
      {% unless post.tags == empty %}
      <!--h4>Tags</h4-->
      <span class="tag_box">
        {% for tag in post.tags %}
        <a class="tag_box" href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }} <span>{{ site.tags[tag].size }}</span></a>
        {% endfor %}
      </span>
      {% endunless %} 
    </p>
    <div >
      {{ post.content }}
    </div>
    <hr style="height:5px;color: #eee;background-color: #eee;"/>
    {% endfor %}

    {% include JB/pages_list %}
  </ul>
{% endfor %}

